[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "karamellpelle-vim"]
	path = karamellpelle-vim
	url = ../karamellpelle-vim.git
	branch = master
[submodule "prezto"]
	path = prezto
	url = ../prezto.git
	branch = master
